.navbar2-link {
	position: relative;
	height: 100%;
	padding: 0 1.25rem;
	display: flex;
	align-items: center;
	color: var(--color-element-text-primary);
	font-size: 1rem;
	font-weight: 500;
}

.navbar2-link:hover {
	background-color: var(--color-element-hover-bg);
	color: var(--color-element-selected);
}

.navbar2-link::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--color-element-selected);
	opacity: 0;
	transition: opacity 0.3s ease-out;
}

.navbar2-link--selected {
	color: var(--color-element-selected);
}

.navbar2-link--selected::after {
	opacity: 1;
}
