/* @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
@import '@fontsource-variable/urbanist';
@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@import '@fontsource-variable/figtree';

/* body { */
/* 	font-family: 'Helvetica Neue', sans-serif; */
/* 	-webkit-font-smoothing: antialiased; */
/* 	-moz-osx-font-smoothing: grayscale; */
/* } */

/* .serif { */
/* 	font-family: -apple-system, BlinkMacSystemFont, 'Source Serif 4', serif; */
/* 	-webkit-font-smoothing: antialiased; */
/* 	-moz-osx-font-smoothing: grayscale; */
/* } */

@custom-variant dark (&:is(.dark *));

body {
	@apply m-0;
	/* font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.13 0.028 261.692);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.13 0.028 261.692);
	--primary: oklch(0.586 0.253 17.585);
	--primary-foreground: oklch(0.969 0.015 12.422);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.003 264.542);
	--muted-foreground: oklch(0.551 0.027 264.364);
	--accent: oklch(0.586 0.253 17.585);
	--accent-foreground: oklch(0.969 0.015 12.422);
	--destructive: oklch(0.577 0.245 27.325);
	--destructive-foreground: oklch(0.577 0.245 27.325);
	--border: oklch(0.928 0.006 264.531);
	--input: oklch(0.928 0.006 264.531);
	--ring: oklch(0.707 0.022 261.325);
	--chart-1: oklch(0.81 0.117 11.638);
	--chart-2: oklch(0.645 0.246 16.439);
	--chart-3: oklch(0.586 0.253 17.585);
	--chart-4: oklch(0.514 0.222 16.935);
	--chart-5: oklch(0.455 0.188 13.697);
	--radius: 0.625rem;
	--sidebar: oklch(0.985 0.002 247.839);
	--sidebar-foreground: oklch(0.13 0.028 261.692);
	--sidebar-primary: oklch(0.586 0.253 17.585);
	--sidebar-primary-foreground: oklch(0.969 0.015 12.422);
	--sidebar-accent: oklch(0.586 0.253 17.585);
	--sidebar-accent-foreground: oklch(0.969 0.015 12.422);
	--sidebar-border: oklch(0.928 0.006 264.531);
	--sidebar-ring: oklch(0.707 0.022 261.325);
	--background: oklch(1 0 0);
	--foreground: oklch(0.13 0.028 261.692);
}

.dark {
	--background: oklch(0.13 0.028 261.692);
	--foreground: oklch(0.985 0.002 247.839);
	--card: oklch(0.21 0.034 264.665);
	--card-foreground: oklch(0.985 0.002 247.839);
	--popover: oklch(0.21 0.034 264.665);
	--popover-foreground: oklch(0.985 0.002 247.839);
	--primary: oklch(0.645 0.246 16.439);
	--primary-foreground: oklch(0.969 0.015 12.422);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.278 0.033 256.848);
	--muted-foreground: oklch(0.707 0.022 261.325);
	--accent: oklch(0.645 0.246 16.439);
	--accent-foreground: oklch(0.969 0.015 12.422);
	--destructive: oklch(0.704 0.191 22.216);
	--destructive-foreground: oklch(0.637 0.237 25.331);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.551 0.027 264.364);
	--chart-1: oklch(0.81 0.117 11.638);
	--chart-2: oklch(0.645 0.246 16.439);
	--chart-3: oklch(0.586 0.253 17.585);
	--chart-4: oklch(0.514 0.222 16.935);
	--chart-5: oklch(0.455 0.188 13.697);
	--sidebar: oklch(0.21 0.006 285.885);
	--sidebar-foreground: oklch(0.985 0.002 247.839);
	--sidebar-primary: oklch(0.645 0.246 16.439);
	--sidebar-primary-foreground: oklch(0.969 0.015 12.422);
	--sidebar-accent: oklch(0.645 0.246 16.439);
	--sidebar-accent-foreground: oklch(0.969 0.015 12.422);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.551 0.027 264.364);
}

@theme inline {
	--font-source-serif-4: 'Source Serif 4', serif;
	--font-roboto: 'Roboto', sans-serif;
	--font-urbanist: 'Urbanist Variable', sans-serif;
	--font-figtree: 'Figtree Variable', sans-serif;
	--breakpoint-navbar-links: 1110px;
	--breakpoint-navbar-search: 874px;
	--color-primary-50: #ebf5fe;
	--color-primary-100: #e1effd;
	--color-primary-200: #c3defb;
	--color-primary-300: #a4cbfc;
	--color-primary-400: #76abf7;
	--color-primary-500: #3e87f4;
	--color-primary-600: #196aed;
	--color-primary-700: #175bd7;
	--color-primary-800: #1d469c;
	--color-primary-900: #233a74;

	--color-cool1-500: #013148;
	--color-cool2-500: #1923e0;
	--color-cool3-500: #1962e0;
	--color-cool4-500: #19e0e0;
	--color-cool5-500: #4f19e0;

	--color-element-primary: #c0212b;
	--color-element-primary-tint: #7c151c;
	--color-element-text-primary: #303133;
	--color-element-text-regular: #606266;
	--color-element-cool1: #013148;
	--color-element-selected: #eb2835;
	--color-element-hover-bg: #fe6d77;

	--color-echart-text-primary: #081642;

	/* --color-element-primary: #436a27;
    --color-element-primary-tint: #568832;
    --color-element-text-primary: #303133;
    --color-element-text-regular: #606266;
    --color-element-cool1: #013148;
    --color-element-selected: #fd0013;
    --color-element-hover-bg: #ecf0e9; */

	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--color-ca-dashboard-blue: #0466c8;
	--color-ca-dashboard-green: #2a8844;
	--color-ca-dashboard-red: #d00000;

	--color-cde-dashboard-red: #a10008;
	--color-cde-dashboard-orange: #fba32a;
	--color-cde-dashboard-yellow: #fffc40;
	--color-cde-dashboard-green: #086312;
	--color-cde-dashboard-blue: #0026f6;
	--font-sans: 'Figtree Variable', sans-serif;
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
}

@layer components {
	.button-primary {
		@apply flex-shrink rounded-full bg-[#f72c5b] hover:bg-[#AB1F3F] px-8 py-3 text-white shadow-sm cursor-pointer focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-500 disabled:opacity-50;
		font-size: 1rem;
		font-weight: 500;
	}
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
		@apply font-sans bg-background text-foreground;
	}
	html {
		@apply font-sans;
	}
}
